<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066367308656-6sulg2g1punilc1d2l752t0endi9741o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066367308656-6sulg2g1punilc1d2l752t0endi9741o</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2vb8c7OO2kIRpDL8DXCNNXTVS8p8vIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1066367308656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jalasoft.test.SocialNetworkAstro</string>
	<key>PROJECT_ID</key>
	<string>socialnetworkastro</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetworkastro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066367308656:ios:473b5b905fa84123d2b5b5</string>
</dict>
</plist>